
/*-----GENERAL-----*/
body{
    min-height: 100%;
}

ul {
    list-style: none;
}

.downarrow {
    /*see http://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle*/
    font: 34px Arial, sans-serif;
    border-radius:50%;
    behavior: url(PIE.htc);
    width:44px;
    height:44px;
    vertical-align:middle;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    text-align: center;
}

.vcenter {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vcentered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.full-height{
    height:100%;
}

.half-height{
    height:50%;
}

.display-none{
    display:none;
}

.display-table{
    display:table;
}

.display-bottom-cell {
    display:table-cell;
    vertical-align: bottom;
}

/*-----FONTS------*/
@font-face {
  font-family: 'CODE_light';
  src: url('../fonts/CODE Light.otf');
}

@font-face {
  font-family: 'CODE_bold';
  src: url('../fonts/CODE Bold.otf');
}

/*-----BOOTSTRAP-THEME EXTRACTS-----*/

/*-----BOOTSTRAP MOD-----*/

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline-color: #f0f0f0;
}

.btn-default {
  color: #4c4c4c;
  font-family: CODE_bold;
  padding-left:15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border-color: #4c4c4c;
  border-radius: 2px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active{
  color: black;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}

.white.btn-default:hover,
.white.btn-default:focus,
.white.btn-default.focus,
.white.btn-default:active,
.white.btn-default.active{
  color: white;
}

.close {
    color: #4c4c4c;
    text-shadow:none;
    filter: none;
    opacity:1;
}
.close:hover, 
.close:focus {
    color: #7f7f7f;
    text-shadow:none;
    filter: none;
    opacity:1;
}

/*-----HEADER-----*/
.header-intro, .header-main{
    position: fixed;
    top:0px;
    right:0px;
    z-index:1200;
}

.header-main{
    z-index:900;
}

.header-intro form {
    display: inline-block;
    vertical-align:middle;
}

.header-main > ul{
    margin-bottom: 0;
    line-height:30px;
}

.header-main > ul > li {
    display:inline-block;
    vertical-align: middle;
}

.header-main a:hover {
    text-decoration:none;
}

.header-main .fontastic {
    font-size: 30px;
    color: #4c4c4c;
    vertical-align: bottom;
}

.header-main .fontastic:hover {
    font-size: 34px;
    text-decoration: none;
}


@media (max-width: 767px) {
    .header-intro, .header-main {
        margin:4%;
    }   
}

@media (min-width: 768px) {
    .header-intro, .header-main {
        margin:2%;    
    }
}

/*-----INTRO-----*/

#intro {
    position: fixed;
    top:0;
    bottom:0;
    margin:0;
    width:100%;
    z-index: 1100;
    text-align:center;
    color: #f0f0f0;
    background-color: #000;
}

#intro-over{
    font-family: CODE_bold;
    letter-spacing:0.1em;
    text-align:center;
    padding-bottom:10px;
}

#intro-over sub{
   font-size:1em;
}

#intro-below {
    margin: 0 auto;
    padding: 0;
    font-family: CODE_bold;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: white;
}

#intro-below > li {
    opacity:0;
}

#intro-below > .intro-trigger:hover{
    cursor:pointer;
    
}

.border-bottom {
    border-bottom: 1px solid;
    border-bottom-color: #f0f0f0;
}

@media (max-width: 767px) {
  #intro > div{
    margin:0 auto;
    width: 75%;
  }
  #intro-below > li{
      display: block;
  }
}
@media (min-width: 768px){
  #intro > div {
    margin:0 auto;
    width: 480px;
  }
  
  #intro-below > li{
      padding-left: 0.5em;
      display: inline-block;
  }
}

/*-----MAIN------*/

article {
    position:fixed;
    top:0;
    left:0;
    z-index: 800;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    overflow:hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background: url('../images/dummy_poly.png') no-repeat center;
    background-size: auto 50% ;
    -webkit-filter: grayscale(100%);
    
}

section {
    height:40%;
    margin-right: -75%;
    background-color:rgba(0,0,0,0.5);
}

@media (min-width: 768px){
    section{
        float:right!important;
    }
}

@media screen and (min-aspect-ratio: 16/9){
    section{
        height:60%;
    }
}

/*-----NAV-----*/

#nav-container {
    position:fixed;
    top:0;
    left:0;
    z-index:1; 
    color: #7f7f7f;
}

#nav-container > div {
    padding:0;
}

#nav-container > #nav-left-spacer {
    max-width: 80px;
    border-right: 1px solid #7f7f7f;
}

#nav-container ul {
    margin-left:-1px;
    max-width: 160px;
    padding:0px;
}

#nav-container ul > li > div {
    cursor: pointer;
    margin-left:32px;
    width:100%;
}

#nav-container ul > .active {
    border-left: 1px solid #fff;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

#nav-container ul > .active > div {
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}

#nav-button{
    text-align: center;
}

#nav-button > .active > div{
    font-size: 64px;
    line-height:100px;
    padding:16px 0 16px 0;
    color: #4c4c4c;
}

#nav-navbar{
    font-family: CODE_bold;
    letter-spacing: 0.1em;    
}

#nav-navbar > ul > li > div {
    margin-bottom:20px;
}

#nav-navbar > ul > .active > div {
    font-size: 18px;
    line-height:36px;
    padding:8px 0 8px 16px;
    margin-bottom:40px;
}

#nav-navbar #nav-close{
    color: #4c4c4c;
}

@media (max-width: 767px), handheld and (orientation:portrait) {
    #nav-container {
        display:none;
    }
}

@media (max-width: 992px) {
    #nav-navbar > ul > .active > div {
        font-size: 14px;
    }
}

@media (max-width: 1199px) {
    #nav-container ul > li > div {
        width: 66.66667%;
    }
}

/*-----FOOTER-----*/
footer{
    z-index:1200;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}

footer > p {
    color: #4c4c4c;
    font-family: CODE_bold;
    font-size: 1em;
    vertical-align: middle;
    letter-spacing: 0.2em;
}

footer > p > span {
    vertical-align: middle;
}

.footer-bracket{
    font-family: CODE_bold;
    font-weight: bolder;
    font-size: 2.5em;
    padding:0 0.5em;
}





